{% extends "base.html" %}

{% block main %}
  <div class="login-form text-center">
    <h2>Please Log in</h2>
    {% include 'flash_messages.html' %}
    <form action="{{ url_for('login') }}" method="post">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class='form-control', placeholder="Enter your username") }}
      </div>
      <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class='form-control') }}
      </div>
      <div class="form-group">
        {{ form.remember_me }} {{ form.remember_me.label }}
      </div>
      <button type="submit" name="submit" class="btn btn-primary btn-block">Log in</button>
    </form>
  </div>
{% endblock %}
